$ticket: #ffffff;
$price: #2196f3;
$title: #a0b0b9;
$data: #4a4a4a;

.ticket {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: $ticket;
    box-shadow: 0 2px 8px 0 #0000001a;
    border-radius: 5px;
    
    &:first-child {
        margin-top: 20px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 20px 20px 10px 20px; 
    }

    &__price {
        font-family: Open Sans, serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: $price;
    }

    &__description {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 20px;
        &:last-child{
            margin-right: 20px;
            min-width: 100px;
        }
    }

    &__title {
        font-family: Open Sans, serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-align: left;
        color: $title;
    }

    &__data {
        font-family: Open Sans, serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0;
        text-align: left;
        color: $data;
    }
}



